<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <link rel="stylesheet" href="asset/main.css"/>
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>

{% include 'header.html.twig' %}

<div id="content">{% block content %}{% endblock %}</div>

<script src="asset/main.js"></script>
</body>
</html>