<div class="header">
    <div><a href="/"><img src="/asset/images/check24.png"></a></div>
    <div class="blog-name">Blog name</div>
</div>

<hr>
<div style="display: flex; justify-content:space-between;">
    <div style="display: flex; flex-direction: row;">
        <div><a href="/">Home</div></a>
        {% if session.user  %}<div><a href="/article">[New entry]</a></div>{% endif %}
        <div>Imprint</div>
    </div>
    <div>{% if session.user %}<a href="/logout">Logout</a>{% else %}<a href="/login">Login</a>{% endif %}</div>
</div>
<hr>