<div class="header">
    <div><img src="asset/images/check24.png"></div>
    <div class="blog-name">Blog name</div>
</div>

<hr>
<div style="display: flex; justify-content:space-between;">
    <div style="display: flex; flex-direction: row;">
        <div>Home</div>
        <div>[New entry]</div>
        <div>Imprint</div>
    </div>
    <div>Login/Logout</div>
</div>
<hr>