{% extends 'base.html.twig' %}

{% block content %}
    <form method="post" action="/login">
        <input name="username" placeholder="username" required>
        <input name="password" placeholder="password" type="password" required>
        <input type="submit" value="Login">
    </form>
{% endblock %}